# Dependencies
node_modules/

# Build output
dist/
build/

# Environment files (VERY IMPORTANT ⚠)
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Testing
coverage/

# IDE files
.vscode/
.idea/